/*
Theme Name: CarNews
Theme URI: https://thememoor.com/themes/carnews/
Author: the WordPress team
Author URI: https://thememoor.com/
Description: Car News  brings your site to life with header video and immersive featured images.
Version: 1.4
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: carnews
Tags: one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready

*/


.pagination {
    border-top: 1px solid #e9e9e9;
    padding: 35px 0;
    width: 100%;
    text-align: center;
}



.pagination .nav-links {
	display: block;
	padding: 0 25px 15px;
	position: relative;
}
.pagination .page-numbers {
	background: #e8edf3;
	border: 1px solid #d3d3d3;
	color: #444;
	display: inline-block;
	font-size: 20px;
	height: 45px;
	line-height: 45px;
	padding: 0 12px;
	margin-right: 5px;
}
.pagination .page-numbers.current {
	background: #f70009;
	color: #fff;
	font-size: 20px;
	height: 47px;
	text-align: center;
	line-height: 47px;
}
.pagination .nav-links > a:hover {
	background: #eb5424;
	color: #fff;
	text-decoration: none;
}
.screen-reader-text {
	display: none;
}

.logo {
    padding: 30px 0 !important;
}

.nav_area {
    background: #ddd;
}




